<!DOCTYPE html>
  <html>

    <head>
      <style>

        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid black;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }

      </style>
    </head>

    <body>

      <div>
        
        <h3><center><%= data.affiliated.name %></center></h3> <br>
        <%= data.affiliated.address %> <br>
        CENTRAL TELEFONICA: <%= data.affiliated.phoneNumber %> <br>
        RIF: <%= data.affiliated.rif %> <br>

        <% if(data.affiliated.portal) { %>
          PORTAL: <%= data.affiliated.portal %> <br>
        <% } %>

      </div>

      <div align="right">
        <%= data.location %>, <%= data.startDate %> <br>
        PRESUPUESTO ESTIMADO NRO: <strong> <%= data.code %> </strong>
      </div>

      <br><br>

      <div align="left" style="border: 1px solid black;">
        
        <div style="display: inline-block; margin-right: 0px; width: 390px;">
          <strong>PACIENTE: </strong><%= data.patientFirstName %> <%= data.patientLastName %>
        </div>

        <div style="display: inline-block; width: 258px;">
          <strong>HISTORIA NRO: </strong><%= data.history %>
        </div>

        <div>
          <strong>MEDICO: </strong><%= data.doctorFirstName %> <%= data.doctorLastName %>
        </div>

        <div>
          <strong>DIAGNOSTICO: </strong><%= data.diagnosis %>
        </div>

        <div>
          <strong>PLAN MEDICO: </strong><%= data.treatment %>
        </div>

      </div>

      <br>

      <% for(var i = 0; i < data.item.length; i++) { %>  

            <% if(data.lastConcept != data.item[i].concept && data.lastConcept == '') { %>

                <h4>Por <%= data.item[i].concept %>:</h4>

                  <table>
                    <tr>
                      <th><center>DESCRIPCION</center> </th>
                      <th><center>CANTIDAD</center> </th>
                      <th><center>PRECIO</center> </th>
                    </tr>

            <% } else if(data.lastConcept != data.item[i].concept && data.lastConcept != '') { %>

                  <tr>
                  <td><center>----</center></td>
                  <td><center>----</center></td>
                  <th><center>Total: BS 4.402.43</center></th>
                </tr>

                </table>

                <h4>Por <%= data.item[i].concept %>:</h4>

                <table>
                    <tr>
                      <th><center>DESCRIPCION</center> </th>
                      <th><center>CANTIDAD</center> </th>
                      <th><center>PRECIO</center> </th>
                    </tr>

            <% } %>

            <tr>
              <td><center><%= data.item[i].description %></center></td>
              <td><center><%= data.item[i].quantity %></center></td>
              <td><center>BS <%= data.item[i].cost %></center></td>
            </tr>

            <% data.lastConcept = data.item[i].concept %>

      <% } %>

        <tr>
          <td><center>----</center></td>
          <td><center>----</center></td>
          <th><center>Total: BS 4.402.43</center></th>
        </tr>

      </table>

    </body>
</html>