<!DOCTYPE html>
  <html>

    <head>
      <style>

        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid black;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }

      </style>
    </head>

    <body>

      <div>
        
        <h3><center><%= data.affiliated.name %></center></h3> <br>
        <%= data.affiliated.address %> <br>
        Central telef&oacute;nica: <%= data.affiliated.phoneNumber %> <br>
        Rif: <%= data.affiliated.rif %> <br>

        <% if(data.affiliated.portal) { %>
          Portal web: <%= data.affiliated.portal %> <br>
        <% } %>

      </div>

      <div align="right">
        <%= data.location %>, <%= data.startDate %> <br>
        Presupuesto nro: <strong> <%= data.code %> </strong>
      </div>

      <br><br>

      <div align="left" style="border: 0px solid black;">
        
        <div style="display: inline-block; margin-right: 0px; width: 390px;">
          <strong>Paciente: </strong><%= data.patientFirstName %> <%= data.patientLastName %>
        </div>

        <div style="display: inline-block; width: 258px;">
          <strong>Historia nro: </strong><%= data.history %>
        </div>

        <div>
          <strong>M&eacute;dico: </strong><%= data.doctorFirstName %> <%= data.doctorLastName %>
        </div>

        <div>
          <strong>Diagn&oacute;stico: </strong><%= data.diagnosis %>
        </div>

        <div>
          <strong>Procedimiento: </strong><%= data.treatment %>
        </div>

      </div>

      <br>

      <table>
        <tr>
          <th><center>Concepto</center> </th>
          <th><center>Descripci&oacute;n</center> </th>
          <th><center>Cantidad</center> </th>
          <th><center>Precio (Bs)</center> </th>
        </tr>

        <% var final_cost = 0; %>

      <% for(var i = 0; i < data.item.length; i++) { %>  

          <tr>
            <td><%= data.item[i].concept %></td>
            <td><%= data.item[i].description %></td>
            <td><center><%= data.item[i].quantity %></center></td>
            <td><center><%= data.item[i].cost %></center></td>
          </tr>

          <% final_cost = final_cost + data.item[i].quantity * data.item[i].cost %>

      <% } %>

        <tr>
          <td><center>- - - - - - -</center></td>
          <td><center>- - - - - - -</center></td>
          <td><center>- - - - - - -</center></td>
          <th><center>Total: Bs <%= final_cost %> </center></th>
        </tr>

      </table>

    </body>
</html>